
  <dl class="tabs">
    <dd class="active"><a href="#login">Login</a></dd>
    <dd><a href="#signup">Signup</a></dd>
  </dl>

  <ul class="tabs-content">
    <li class="active" id="loginTab">
      <div>
        <%= form_for :session, :url => session_path do |f| %>
          <%= f.text_field :email, placeholder: "Email", id: 'login-email' %>
          <%= f.password_field :password, placeholder: "Password", id: 'login-password' %>
          <%= f.submit "Login", id: "login-submit" %>
        <% end %>
      </div>
    </li>
    <li id="signupTab">
      <div>
        <%= form_for :user, url: { controller: "users", action: "create" } do |f| %>
          <%= f.text_field :full_name, :id => "full-name",
                         :placeholder => "Full Name", :required => true %>
          <%= f.email_field :email, :id => "email-address",
                            :placeholder => "Email Address",
                            :required => true %>
          <%= f.text_field :display_name, :id => "display_name",
                           :placeholder => "Display Name (optional)" %>
          <%= f.password_field :password, :id => "password",
                           :placeholder => "Password",
                           :required => true %>
          <%= f.password_field :password_confirmation, :id => "password-confirmation",
                           :placeholder => "Password Confirmation",
                           :required => true %>
          <%= f.phone_field :phone_number, :id => "phone_number",
                            :placeholder => "Phone Number" %>
                            How Should we contact you about your orders? (default is E-Mail)  <br/>
          <%= f.radio_button :text, :false %> 
            <%= f.label :text, "I'd like to get E-Mails" %>
          <%= f.radio_button :text, :true %>
            <%= f.label :text, "I'd like to get text messages" %>
          <%= f.submit "Signup!", id: 'signup-submit' %>

        <% end %>

      </div>
    </li>
  </ul>
