<div class="header-bar row">
  <h3>Items</h3>
  <%= link_to "New Item", new_restaurant_admin_item_path, class: "add button" %>
</div>

<div class="row">
  <div class="twelve columns">
    <table class="table">
      <thead>
        <tr>
          <th>
            Title
          </th>
          <th>
            Price
          </th>
          <th>
            Created At
          </th>
          <th>
            Available
          </th>
          <th colspan=2>
            Edit
          </th>
        </tr>
      </thead>
      <tbody>
        <% @items.each do |item| %>
          <tr>
            <td>
              <%= link_to item.title, restaurant_item_path(id: item.id, 
                slug: current_restaurant.slug) %>
            </td>
            <td>
              <%= number_to_currency(item.price) %>
            </td>
            <td>
              <%= item.created_at.to_s(:long) %>
            </td>
            <td>
              <% if item.available %>
                true
              <% else %>
                --
              <% end %>
            </td>
            <td>
              <% if item.available? %>
                <%= link_to "Disable", restaurant_admin_update_item_availability_path(item_id: item.id, available: false, slug: current_restaurant.slug), method: :patch,
                  data: { confirm: "Are you sure you want to disable #{item.title}?" } %>
              <% else %>
                <%= link_to "Activate", admin_update_item_availability_path(item_id: item.id, available: true), method: :patch,
                  data: { confirm: "Are you sure you want to activate #{item.title}?" } %>
              <% end %>
            </td>
            <td>
              <%= link_to "Edit", edit_restaurant_admin_item_path(id: item.id, slug: current_restaurant.slug) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
