<div id="cities-list" class="header-bar row">
  <h4><%= link_to "All Cities", restaurants_path %><h4>
    <hr>
    <h6>Search Restaurants By City! </h6>
      <ul>
      <% @cities[0..9].each do |city| %>
        <li><%= link_to "#{city.city}", restaurants_path(filter:city.id) %></li>&bull;
      <% end %>
    </ul>
    <ul>
      <% @cities[10..19].each do |city| %>
        <li><%= link_to "#{city.city}", restaurants_path(filter:city.id) %></li>&bull;
      <% end %>
    </ul>
    <ul>
      <% @cities[20..29].each do |city| %>
        <li><%= link_to "#{city.city}", restaurants_path(filter:city.id) %></li>&bull;
      <% end %>
    </ul>
  </div>
  <hr>
<%= paginate @restaurants %>
<div class="header-bar row2">
  <h3>All our restaurants</h3>
</div>
<% @restaurants.each do |restaurant| %>
  <div>
    <div>
      <ul>
        <p>
          <h6><%= link_to restaurant.name, super_restaurant_path(restaurant.slug) %> </h6>
          <h7>Description: <%= restaurant.description %><h7>

        </br>
          Member Since: <%= restaurant.created_at.strftime("%b %Y")%>
        </p>
      <hr>
        <% end %>
      <ul>
    </table>
  </div>
</div>
