<p>Items: 
  <% if @order.order_items.count == 0 %>
    <p><em>There are currently no items for this order.</em></p>
  <% end %>

  <% @order.order_items.each do |order_item| %>
  <%= form_for order_item do |fa| %>   
    <h3><%= link_to order_item.item.title, item_path(order_item.item) %></h3>
    <p>Quantity:     <%= fa.number_field :quantity, :id => 'quantity' %></p>
    <p>Item Price:     <%= order_item.item.price %></p>
    <p>Subtotal:     <%= number_to_currency(order_item.subtotal) %></p>
    <p>Created At: <%= order_item.created_at %></p>
    <div id='item-<%= order_item.item.id %>'>
      <%= link_to "Remove Item", admin_order_item_path(id: order_item.id), method: :delete %>
    </div>

    <%= fa.submit "Save Changes", :id => 'save' %>
  <% end %>
  <% end %>









