<p class="flash"><%= flash.notice %></p>
<H1> Edit Order '<%= @order.id %>' </H1>
<% if @order.user_id %>
  <p>User Full Name: <%= @order.user.full_name %></p>
  <p>User ID:        <%= @order.user_id %></p>
  <p>Email: <%= @order.user.email %></p>
<% else %>
  <p><em>There is no user assigned to this order</em></p>
<% end %>
<p>Order Subtotal: <%= number_to_currency(@order.subtotal) %></p>
<p>Status: <%= @order.status %></p>
<p>Created At: <%= @order.created_at %></p>

<h2>Items: </h2>
<% if @order.order_items.count == 0 %>
  <p><em>There are currently no items for this order.</em></p>
<% else %>
  <%= render partial: "admin/order_items/form" %>
<% end %>

