<div class="header-bar row">
  <h3>Orders</h3>
</div>

<div class="row">
  <div class="twelve columns">
    <table class="table">
      <thead>
        <tr>
          <th>
            Order ID
          </th>
          <th>
            User
          </th>
          <th>
            Created At
          </th>
          <th>
            Order Total
          </th>
          <th>
            Status
          </th>
          <th colspan=2>
            Edit
          </th>
        </tr>
      </thead>
      <tbody>
          <%= paginate @orders %>
        <% @orders.each do |order| %>
          <tr>
            <td>
              <%= link_to order.id, restaurant_admin_orders_path(order) %>
            </td>
            <td>
              <% if order.user_id != nil %>
              <%= order.user.full_name %>
            </td>
            <% end %>
            <td>
              <%= order.created_at.to_s(:long) %>
            </td>
            <td>
              <%= number_to_currency(order.subtotal) %>
            </td>
            <td>

              <%= select_tag "status", options_for_select([
                ['Pending', 'pending'],
                ['Paid', 'paid'],
                ['Completed', 'completed']])%>
            </td>

            <td>
              <%= link_to "Delete", restaurant_admin_orders_path(order), method: :delete,
                data: { confirm: "Are you sure you want to delete order #{order.id}?" } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
