<h2>Order '<%= @order.id %>':</h2>

<% if @order.user_id %>
  <p>User Full Name: <%= @order.user.full_name %></p>
  <p>User ID:        <%= @order.user_id %></p>
  <p>Email: <%= @order.user.email %></p>
<% else %>
  <p><em>There is no user assigned to this order</em></p>
<% end %>

<%= render partial: "orders/order", locals: {order: @order} %>


<%= link_to "Edit this Order", edit_admin_order_path %>
<%= link_to "Back to all Orders", admin_order_index_path %>
