
<h3>Full name: <%= @user.full_name %></h3>
<p>Display name: <%= @user.display_name %></p>
<p>Email: <%= @user.email %></p>
<p><%= link_to "Edit", edit_user_path(@user) %></p>
<p><%= link_to "Remove your account", user_path(params[:user]), method: :delete, data: {confirm:"Really DELETE your account?"}%></p>
<p><%= link_to "<< Back to Menu", items_path %></p>
