<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks <%= :full_name %>!  Your order is on its way!</h1>
  </body>
    <h2>Thank you for your order, your order details are below:</h2>

    <h3>Order '<%= :order_id %>':</h3>

  <table border="1">
    <tr><td>User Full Name: <%= :full_name %></tr></td>
    <tr><td>User ID:        <%= :user_id %></tr></td>
    <tr><td>Email: <%= :user_email %></tr></td>
    <tr><td>Order Subtotal: <%= :order_total %></tr></td>
    <tr><td>Status: <%= :order_status %></tr></td>
    <tr><td>Created At: <%= :created_at %></tr></td>
  </table>

    <h3>Items:</h3>
    <% @order_items.each  do |order_item| %>
      <div>
        <table border="1">
        <tr><td>Item:         <%= order_item[:title] %></tr></td>
        <tr><td>Description   <%= order_item[:description] %></tr></td>  
        <tr><td>Quantity:     <%= order_item[:quantity] %></tr></td>
        <tr><td>Item Price:   <%= order_item[:price] %></tr></td>
      </table>
      </div>
    <% end %>
  </body>
</html>
