<%= link_to "New Item", new_item_path %>
<%= link_to "View Current Order", order_path %>

<div id='items'>
  <% @items.each do |item| %>
    <h2><%= item.title %></h2>
  <ul>
    <li>Description: <%= item.description %></li>
    <li>Price: <%= number_to_currency(item.price) %></li>
    <%= button_to "Add to Order", order_items_path(item_id: item.id) %>
  </ul>
  <% end %>
</div>
