<h1><%= @item.title %></h1>
<p><%= image_tag @item.image.url %></p>
<p><%= @item.description %></p>
<p><%= number_to_currency(@item.price) %></p>
<p><%= link_to "Edit", edit_item_path(@item) %></p>
<p><%= link_to "Delete", item_path(@item), method: :delete, data: {confirm:"Really DELETE the Item?"}%></p>
<p><%= link_to "Create New Item", new_item_path %></p>
<p><%= link_to "<< Back to Item List", items_path %></p>
