<div class="header-bar row">
  <h3>Users</h3>
  <%= link_to "New User", new_restaurant_admin_customer_path(
    :slug => current_restaurant.slug), class: "add button" %>
</div>

<div class="row">
  <div class="twelve columns">
    <table class="table">
      <thead>
        <tr>
          <th>
            Full name
          </th>
          <th>
            Signed Up
          </th>
          <th>
            Total Spent
          </th>
          <th>
            Email Address
          </th>
          <th>
            Admin?
          </th>
          <th colspan=2>
            Edit
          </th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td>
              <%= link_to user.full_name, restaurant_admin_customer_path(id: user.id, slug: current_slug) %>
            </td>
            <td>
              <%= user.created_at.to_s(:long) %>
            </td>
            <td>
              <%= number_to_currency(user.total_spent) %>
            </td>
            <td>
              <%= user.email %>
            </td>
            <td>
              <% if user.admin_status? %>
                true
              <% else %>
                --
              <% end %>
            </td>
            <td>
              <%= link_to "Edit", edit_restaurant_admin_customer_path(id: user.id, slug: current_slug) %>
            </td>
            <td>
              <%= link_to "Delete", restaurant_admin_customer_path(id: user.id, slug: current_slug), method: :delete,
                data: { confirm: "Are you sure you want to delete #{user.full_name}?" } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
