Review Your Order:

<%= render partial: "orders/order", locals: {order: current_order} %>

<%= form_tag charges_path do %>
  <article>
    <label class="amount">
      <span>Amount: <%= number_to_currency(@amount) %></span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Order Number: <%= @order_number %>"
          data-amount="<%= @amount*100 %>"></script>
<% end %>
