<h2>Review Your Order:</h2>

<h3>Your Order ID: <%= current_order.id %></h3>

<h3>Items:</h3>
<%= render partial: "orders/order_item", collection: current_order.order_items %>


<hr>
<h3>Order Total: <em><%= number_to_currency(current_order.subtotal) %></h3>
<%= form_tag charges_path do %>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Order Number: <%= @order_number %>"
          data-amount="<%= @amount*100 %>"></script>
<% end %>

