<%= render "layouts/login_signup" %>

<header class="main-header default">
  <div class="row">
    <div class="twelve columns">
      <a class="logo" href="/" title="Home | What The Pho">
        <%= image_tag "logo.png", alt: "What The Pho Logo" %>
      </a>
      <nav class="main-nav">
        <ul>
          <li>
            <% if current_user %>
              <ul>
                <li class="parent">
                  <%= link_to "Account", user_path(current_user) %>
                  <ul class="children">

                    <li class="child">
                      <%= link_to "Order History", my_orders_path %>
                    </li>
                    <li class="child">
                      <%= link_to "Logout", logout_path %>
                    </li>
                    <% if current_user.admin? %>
                    <li class="child">
                      <%= link_to "Admin Dashboard", admin_order_index_path %>
                    </li>
                    <% end %>
                  </ul>
                </li>
              </ul>
          <% else %>
              <%= link_to "Login", "#", data: { :"reveal-id" => "exampleModal" }  %>
            <% end %>
          </li>
          <li>
            <%= link_to "Menu", menu_path %>
          </li>
          <li>
            <%= link_to "About", href: "#" %>
          </li>
          <li>
            <span id="nav-order">
              View Order
              (<span class="nav-order-item-count"><%= current_order.total_items %> items</span>)
              <span class="nav-order-total">
                <%= number_to_currency(current_order.subtotal) %>
              </span>
            </span>
          </li>
        </ul>
      </nav>
    </div><!-- //twelve columns -->
  </div><!-- //row -->
</header>
