<%= render "layouts/login_signup" %>

<header class="main-header default">
  <div class="row">
    <div class="twelve columns">
      <% if current_restaurant %>
        <a class="logo" href="/<%= current_restaurant.slug %>" title="<%= current_restaurant.name %>">
          <%= current_restaurant.name %>
        </a>
      <% else %>
        <a href="/">BEARLY HUNGRY</a>
      <% end %>
      <nav class="main-nav">
        <ul>
          <li>
            <% if current_user %>
              <ul>
                <li class="parent">
                  <%= link_to "Account", user_path(current_user) %>
                  <ul class="children">

                    <li class="child">
                      <%= link_to "Order History", restaurant_order_history_path(slug: current_restaurant.slug) if current_restaurant %>
                    </li>
                    <li class="child">
                      <%= link_to "Logout", logout_path %>
                    </li>
                    <% if current_user.admin? %>
                    <li class="child">
                      <%= link_to "Admin Dashboard", restaurant_admin_restaurants_path(current_restaurant.slug) %>
                    </li>
                    <% end %>
                  </ul>
                </li>
              </ul>
          <% else %>
              <%= link_to "Login", "#", data: { :"reveal-id" => "exampleModal" }  %>
            <% end %>
          </li>
          <li>
            <%= link_to "Menu", restaurant_menu_path(current_restaurant.slug) unless current_restaurant.nil? %>
          </li>
          <li>
            <span id="nav-order">
              View Order
              (<span class="nav-order-item-count"><%= current_order.total_items if current_order %> items</span>)
              <span class="nav-order-total">
                <%= number_to_currency(current_order.subtotal) if current_order %>
              </span>
            </span>
          </li>
        </ul>
      </nav>
    </div><!-- //twelve columns -->
  </div><!-- //row -->
</header>
