<div class="order row">
  <div class="scrollable">
  <div class="sidebar twelve columns">
    <div class="order-title-cancel">
      <h4 class="top-label">My Order <%= current_order.id %></h4>
      <a class="cancel-order" href="/clear-order">Cancel Order</a>
    </div>
    <hr>
    <div class="row">
      <div class="my-order twelve columns">
        <% if current_order.items.count == 0 %>
          <p class="no-order">
            Sorry, it looks like you have not added any items yet!
          </p>
        <% else %>
          <ul class="my-order-items">
            <% current_order.order_items.each do |order_item| %>
              <li class="order-item order-item-<%= order_item.id %>">
                <div class="order-item-info">
                  <div class="order-item-title-total">
                    <span class="order-item-title block">
                      <%= order_item.item.title %>
                    </span>
                    <span class="order-item-total block">
                      <%= number_to_currency(order_item.subtotal) %>
                    </span>
                  </div><!-- //order-item-title-total -->
                  <div class="item-quantity-modify">
                    <div class="quantity-price">
                      <span class="label">
                        Quantity
                      </span>
                      <span class="value">
                        <span class="order-item-quantity">
                          <%= order_item.quantity %>
                        </span> x
                        <%= number_to_currency(order_item.item.price) %>
                      </span>
                    </div><!-- //quantity-price -->
                    <div class="modify">
                      <%= link_to "Remove", restaurant_order_item_path(id: order_item.id, slug: current_restaurant.slug),
                        class: 'remove-order-item', method: :delete, data: { confirm: "Are you sure?" }
                      %>
                    </div><!-- //modify -->
                  </div><!-- item-quantity-price -->
                </div><!-- order-item-info -->
              </li>
            <% end %>
          </ul>
          <div class="order-total">
            <span class="label">Total</span>
            <span class="value"><%= number_to_currency(current_order.subtotal) %></span>
          </div>
          <div class="checkout">
            <%= link_to "Checkout", restaurant_review_order_path, class: "order-checkout" %>
          </div>
        <% end %>
      </div><!-- //my-order -->

    </div>
  </div><!-- //sidebar -->
  </div>
</div><!-- //order -->
