<div class="order row">
  <div class="sidebar twelve columns">
    <div class="order-title-cancel">
      <h4 class="top-label">My Order</h4>
      <a class="cancel-order" href="#">Cancel Order</a>
    </div>
    <hr>
    <div class="row">
      <div class="my-order twelve columns">
        <% if current_order.items.count == 0 %>
          <p class="no-order">
            Sorry, it looks like you haven't added any items yet!
          </p>
        <% else %>
          <ul class="my-order-items">
            <% current_order.order_items.each do |order_item| %>
              <li class="order-item">
                <div class="order-item-info">
                  <div class="order-item-title-total">
                    <span class="order-item-title block">
                      <%= order_item.item.title %>
                    </span>
                    <span class="order-item-total block">
                      <%= number_to_currency(order_item.subtotal) %>
                    </span>
                  </div><!-- //order-item-title-total -->
                  <div class="item-quantity-modify">
                    <div class="quantity-price">
                      <span class="label">
                        Quantity
                      </span>
                      <span class="value">
                        <%= order_item.quantity %> x <%= number_to_currency(order_item.item.price) %>
                      </span>
                    </div><!-- //quantity-price -->
                    <div class="modify">
                      <a href="#">Edit</a>
                      <a href="#">Remove</a>
                    </div><!-- //modify -->
                  </div><!-- item-quantity-price -->
                </div><!-- order-item-info -->
              </li>
            <% end %>
          </ul>
          <div class="order-total">
            <span class="label">Total</span>
            <span class="value"><%= number_to_currency(current_order.subtotal) %></span>
          </div>
          <div class="checkout">
            <%= link_to "Checkout", review_order_path, class: "order-checkout" %>
          </div>
        <% end %>
      </div><!-- //my-order -->

      <div class="my-promotions twelve columns">
        <h4 class="top-label">Promotions</h4>
        <p>Yay for fun promotions!</p>
        <ul class="promotion">
          <li>20% off all purchases</li>
        </ul>
      </div><!-- //my-promotions -->

    </div>
  </div><!-- //sidebar -->
</div><!-- //order -->
