<div class="order row">
  <div class="sidebar twelve columns">
    <h4 class="top-label">My Order</h4>
    <div class="row">
      <div class="my-order twelve columns">
        <h2 style="color: white"><%= current_order.id %></h2>
        <% if current_order.items.count == 0 %>
          <p>YOU DON't HAVE AN ORDER</p>
        <% else %>
          <ul class="my-order-items">
            <% current_order.order_items.each do |order_item| %>
              <li class="order-item">
                <div class="order-item-info">
                  <span class="item-title block">
                    <%= order_item.item.title %>
                  </span>
                  <div class="item-quantity-price">
                    <span class="label">
                      Quantity
                    </span>
                    <span class="value">
                      <%= order_item.quantity %> x <%= number_to_currency(order_item.item.price) %>
                    </span>
                  </div>
                  <div class="modify">
                    <a href="#">Change</a>
                    <a href="#">Remove</a>
                  </div>
                </div>
                <span class="order-item-price">
                  <%= number_to_currency(order_item.subtotal) %>
                </span>
              </li>
            <% end %>
          </ul>
          <div class="order-total">
            <span class="label">Total</span>
            <span class="value"><%= current_order.subtotal %></span>
          </div>
        <% end %>
      </div>

      <div class="my-promotions twelve columns">
        <h4 class="top-label">Promotions</h4>
        <p>Yay for fun promotions!</p>
        <ul class="promotion">
          <li>20% off all purchases</li>
        </ul>
      </div><!-- //my-promotions -->

    </div>
  </div><!-- //sidebar -->
</div><!-- //order -->
