<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" id="platform-html"> <!--<![endif]-->

<head>
  <meta charset="utf-8">

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

  <title>BearyHungry</title>

  <script type="text/javascript" src="//use.typekit.net/sux2ujz.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <%= stylesheet_link_tag    "platform", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body id="platform">
  <section class="header wrapper">
    <div class="row">
      <div class="logo">
        <h1>
          <a href="/">
            Beary Hungry
          </a>
        </h1>
      </div>
      <ul class="main-nav head-nav">
        <li>
          <a href="/" title="Restaurants">Restaurants</a>
        </li>
        <li>
          <a href="/" title="About">About</a>
        </li>
        <li>
          <a href="/" title="Contact">Contact</a>
        </li>
      </ul>
      <ul class="user-action-nav head-nav">
        <li>
          <a href="/" title="Signup / Login">Sign Up / Login</a>
        </li>
        <li>
          <a class="action-button" href="/" title="About">Create a Restaurant</a>
        </li>
      </ul>
    </div>
    <div class="slogan row">
      <h2>
        Forget the lines, crowded rooms, and screaming kids...<br>
        We're here to answer the call of your stomach - without the mess.
      </h2>
    </div>
  </section><!-- //wrapper -->

  <section class="banner row">
    <p class="text large">
      Let's face it,<br>
      You can't cook this good.
    </p>
    <p class="text small">
      It's okay... we can't either!
    </p>
  </section>

  <section class="restaurants wrapper">
    <div class="row">

      <div class="heading twelve columns">
        <h3>Our Newest Restaurants</h3>
        <span>... nom nom nom ...</span>
      </div>

      <% @restaurants.each do |restaurant| %>

        <div class="restaurant three columns">
          <img src="<%= restaurant.logo %>">
          <h4><%= restaurant.name %></h4>
          <span class="location"><%= restaurant.city.city %></span>
          <span class="item-count"><%= restaurant.items.count %></span>
          <div class="description">
            <p>This is the best restaurant ever!!!!</p>
          </div>
        </div>

      <% end %>

    </div>
  </section><!-- //restaurants.wrapper -->

  <section class="restaurant-map wrapper">
    <div class="heading twelve columns">
      <h3>Restaurant Locations</h3>
    </div >
    <div id="map">
    </div>
    <div class="map twelve columns">
      <!-- <img src="/images/map-bg.jpg"> -->
    </div>
  </section>


  <section class="footer wrapper">
    <div class="row">
      <div class="footer-logo three columns">
        <a href="/">
          <img src="<%= image_url('footer-logo.png') %>">
        </a>
      </div>
      <div class="three columns">
      </div>
      <div class="info three columns">
        <p>
          BearlyHungry.net is a project by
          <a href="https://github.com/LukeMartinez">Luke Martinez</a>,
          <a href="https://github.com/mappingkat">Katrina Engelsted</a>,
          <a href="https://github.com/thewatts">Nathaniel Watts</a>
        </p>
      </div>
      <div class="info three columns">
        <p>
          More info can be found <br><a href="http://github.com/thewatts/bearlyhungry">on GitHub</a>
        </p>
      </div>
    </div>
  </section>

  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>

  <script src='http://api.tiles.mapbox.com/mapbox.js/v1.5.2/mapbox.js'></script>
  <link href='http://api.tiles.mapbox.com/mapbox.js/v1.5.2/mapbox.css' rel='stylesheet' />
  <script>
      $.getJSON('<%= request.url %>/api/map_data.json', function(data) {
      window.mapData = data.cities;

      $.map( mapData, function( city ) {
        window.coordString = city.geometry.coordinates.split(',');
        var x = coordString[0].substring(1);
        var y = coordString[1].substring(0, coordString[1].length-1);
        city.geometry.coordinates = [x, y];
        city
      });

      var map = L.mapbox.map('map', 'examples.map-9ijuk24y', {zoomControl: false})
          .setView([34.479, -97], 5);

      // disable drag and zoom handlers
      map.dragging.disable();
      map.touchZoom.disable();
      map.doubleClickZoom.disable();
      map.scrollWheelZoom.disable();
      // disable tap handler, if present.
      if (map.tap) map.tap.disable();

      var markerLayer = L.mapbox.markerLayer({
              type: 'FeatureCollection',
              features: mapData
      })
      .addTo(map);

      // note that calling `.eachLayer` here depends on setting GeoJSON _directly_
      // above. If you're loading GeoJSON asynchronously, like from CSV or from a file,
      // you will need to do this within a `markerLayer.on('ready'` event

      markerLayer.eachLayer(function(layer) {
        // here you call `bindPopup` with a string of HTML you create - the feature
        // propertieses declared above are available under `layer.feature.properties`

          var label = '';
       
          if (layer.feature.properties.count > 1) {
            label = 'Restaurants';
          } else {
            label = 'Restaurant';
          }

          var styles = '';
          styles += '.leaflet-popup-content { };';

          var content = '';
          content += styles;

          content += '<h2>' + layer.feature.properties.name + "</h2>";
          content += '<h2>' + layer.feature.properties.name + "</h2>";

          var content = '<style>.leaflet-popup-content{ }</style>';
          content += '<h1>' + layer.feature.properties.name + '</h1>';
          content += '<h2>' + layer.feature.properties.count + '' + label + '</h2>';
          content += '<a href=' + layer.feature.properties.slug + '>More Info</h2>';
          layer.bindPopup(content);
      });
    });
  </script>
</body>
</html>
